.view-page {
    background-color: rgb(209, 7, 7);
}


.btn-biblioteca-add {
  background-color: #ff7300; /* azul */
  color: white;              /* texto branco */
  border: none;              /* sem borda */
  padding: 10px 20px;        /* espaço interno */
  border-radius: 8px;        /* cantos arredondados */
  cursor: pointer;           /* muda o cursor ao passar o mouse */
  font-size: 16px;
  
  /*centralizar o botão*/
  display: block;
  margin: 0 auto;
}

.btn-biblioteca:hover {
  background-color: #b3a700; /* escurece ao passar o mouse */
}